{% extends 'index.html' %}

{% block header %}

{% block script %}

{% endblock %}

{% endblock %}

{% block content %}
	
	<div id="molduraconteudo">
		
   <h3>  Missão </h3>
  
       <p>Buscar continuamente a satisfação dos nossos clientes, parceiros e funcionarios, respeitando a sociedade e o meio ambiente, gerando resultados positivos para todos os envolvidos.</p>
  <br>
  
    <h3 > Visão</h3>
    <div>
		<p>Estar entre as maiores e melhores do segmentos de jateamento, pintura industrial, construção civil e manutenção.	</p>
    </div>
    <br>
    
     <h3> Pintura Geral</h3>

       <p>A MonteJato possui amplo treinamento para capacitação na realização de pinturas de alvenarias, estruturas, equipamementos, tetos, tubuluções, corrimãos, tanques, demarcações de pisos, entre vários outros.<br></p>
		Todo o serviço com acompanhamento técnico, é realizado em parceria com as melhores indústrias de tintas especiais.
    	<br><br>
    	  <h3>  Valores</h3>
    	  <br>
     Segurança<br>
	Ética e transparência<br>
	Respeito á vida<br>
	Qualidade e pontualidade<br>
	Respeito á sociedade e ao meio ambiente<br>
	Rentabilidade e solidez<br>
	Compreentimento
 		<br><br>
	  <h3>  O Que Fazemos</h3>
       <p>A MonteJato presta serviços para os setores sucroalcoolerio, citrus, celulose e papel, saneamento, siderurgia, etc, utilizando-se de engenharia especializada para realizar da melhor forma o projeto sugerido. Contatenos para cotar seu projeto.</p> 
	<br><br>
</div>	
	
{% endblock %}	

{% block footer %}
{% endblock %}