{% extends 'index.html' %}

{% block header %}

{% block script %}
	 	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}js/scrollable/scrollable-horizontal.css" />
		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}js/scrollable/scrollable-buttons.css" />
  		<script src="{{ MEDIA_URL }}js/scrollable/jquery.tools.min.js"></script>
  		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}js/shadowbox/shadowbox.css" />
  		<script src="{{ MEDIA_URL }}js/shadowbox/shadowbox.js"></script>
{% endblock %}

{% endblock %}

{% block content %}
<div id="molduraconteudo">
	<h3>Construção Civil</h3>
	<br>
		<div style="margin:0 auto; width: 774px; height:120px;">
		<a class="prev browse left"></a>
		
		<div class="scrollable" id="scrollable">
		
		  <div class="items">
       		 <div>
			  <a href="{{MEDIA_URL}}img/construcao/IMG_1228.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1228.JPG" /></a>
		      
		      <a href="{{MEDIA_URL}}img/construcao/IMG_1250.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1250.JPG" /></a>
		      
		      <a href="{{MEDIA_URL}}img/construcao/IMG_1255.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1255.JPG" /></a>
		      
		      <a href="{{MEDIA_URL}}img/construcao/IMG_1486.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1486.JPG" /></a>
		      
		      <a href="{{MEDIA_URL}}img/construcao/IMG_1487.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1487.JPG" /></a>
		    </div>
		    
		        <div>
			    <a href="{{MEDIA_URL}}img/construcao/IMG_1496.JPG" rel="lightbox[roadtrip]">
				<img src="{{MEDIA_URL}}img/construcao/IMG_1496.JPG" /></a>
		        <a href="{{MEDIA_URL}}img/construcao/IMG_1497.JPG" rel="lightbox[roadtrip]">
		     	 <img src="{{MEDIA_URL}}img/construcao/IMG_1497.JPG" /></a>
		      
			      <a href="{{MEDIA_URL}}img/construcao/IMG_1480.JPG" rel="lightbox[roadtrip]">
			      <img src="{{MEDIA_URL}}img/construcao/IMG_1480.JPG" /></a>
			      
			       <a href="{{MEDIA_URL}}img/construcao/IMG_1481.JPG" rel="lightbox[roadtrip]">
			      <img src="{{MEDIA_URL}}img/construcao/IMG_1481.JPG" /></a>
			      
			       <a href="{{MEDIA_URL}}img/construcao/IMG_1643.JPG" rel="lightbox[roadtrip]">
			      <img src="{{MEDIA_URL}}img/construcao/IMG_1643.JPG" /></a>
		
		    </div>
		    
		        <div>
		      <a href="{{MEDIA_URL}}img/construcao/IMG_1642.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1642.JPG" /></a>
		      
		      <a href="{{MEDIA_URL}}img/construcao/IMG_1644.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1644.JPG" /></a>
		      
		      <a href="{{MEDIA_URL}}img/construcao/IMG_1622.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1622.JPG" /></a>
		      
		      <a href="{{MEDIA_URL}}img/construcao/IMG_1623.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1623.JPG" /></a>
		      
		       <a href="{{MEDIA_URL}}img/construcao/IMG_1624.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1624.JPG" /></a>
		    </div>
		    
		     <div>
		     	
		      <a href="{{MEDIA_URL}}img/construcao/IMG_1620.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1620.JPG" /></a>
		     	
		      <a href="{{MEDIA_URL}}img/construcao/IMG_1625.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1625.JPG" /></a>
		      
		      <a href="{{MEDIA_URL}}img/construcao/IMG_1245.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1245.JPG" /></a>
		      
		      <a href="{{MEDIA_URL}}img/construcao/IMG_1349.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1349.JPG" /></a>
		      
		      <a href="{{MEDIA_URL}}img/construcao/IMG_1722.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1722.JPG" /></a>
		      
		    </div>
		    
		         <div>
		      <a href="{{MEDIA_URL}}img/construcao/IMG_1723.JPG" rel="lightbox[roadtrip]">
		      <img src="{{MEDIA_URL}}img/construcao/IMG_1723.JPG" /></a>
		      
		        <a href="{{MEDIA_URL}}img/construcao/IIMG_1723.JPG" rel="lightbox[roadtrip]">
		     	<img src="{{MEDIA_URL}}img/construcao/IMG_1723.JPG" /></a>
		     
		    </div>
		
		  </div>
		
		</div>
		
		<a class="next browse right"></a>
		</div>
		<br>

		<script>
				Shadowbox.init({
						displayCounter: true
				});
					iniciaTransicao();
				</script>
				
		<script>
		
		$("div.scrollable").scrollable();
		</script>

</div>		
{% endblock %}	

{% block footer %}
{% endblock %}