{% extends 'index.html' %}

{% block header %}

{% block script %}

{% endblock %}

{% endblock %}

{% block content %}
<div id="molduraconteudo">
	
	<h3>Parceiros</h3>
	<br>
	
	<div id="molduraparerias">
	
		<td><img src="{{MEDIA_URL}}img/parceiros/citrosuco.png" /></td>
		<td><img src="{{MEDIA_URL}}img/parceiros/cutrale.png"  id="imgcutrale" /></td>
		<td><img src="{{MEDIA_URL}}img/parceiros/JBS.png" id="imgJBS"/></td>
		<td><img src="{{MEDIA_URL}}img/parceiros/louis.png"  id="imgilouis"/></td>
		<td><img src="{{MEDIA_URL}}img/parceiros/baldan.png" id="imgbaldan" /></td>
		<td><img src="{{MEDIA_URL}}img/parceiros/frigorifico_marfrig.png" id="imgfrigorifico_marfrig"/></td>
		<td><img src="{{MEDIA_URL}}img/parceiros/petobras.png" id="imgpetobras"/></td>
		<td><img src="{{MEDIA_URL}}img/parceiros/tigre.png"id="imgtigre" /></td>
	
	
	</div>
	
</div>
{% endblock %}	

{% block footer %}
{% endblock %}