{% extends 'index.html' %}

{% block header %}

{% block script %}

{% endblock %}

{% endblock %}

{% block content %}
<div id="molduraconteudo">
		
   <h3> Construção Civil</h3>
   
       <p>No Mercado da construção civil industrial a construtora montejato, tem um histórico de muitos clientes satisfeitos, trabalhando com mão de obra qualificada, materiais de primeira linha e buscando sempre soluções práticas e inteligentes.<br>
			Da elaboração dos projetos até a conclusão das obras a empresa proporcionará um acompanhamento, altamente especializado, seguindo rigorozamente o cronograma estabelecido. A Montejato prima, pela alta qualidade na execução de sua obra, mantendo a satisfação dos nossos clientes.
		</p>
  <br>
  
    <h3 > Pinturas Industriais</h3>
    
		<p>A MonteJato tem como objetivo específico ajudar seus clientes a preservação do seu patrimonio, executando serviços de tratamento anticorrosivos e pinturas industriais conforme parametros técnicos apropriados. Visando principalmente a proteção contra a corrosão.<br>
			A Empresa estendeu o seu campo de atuação para diversas atividades correlacionadas com a manutenção industrial dentre as quais estamos aptos: Pintura piso alto hivelante, Civil, Jateamento
		</p>	
		
    	<br>
    	
     <h3> Montagem Industrial</h3>

        <p> A MonteJato está apta a atender todo tipo de empresa que demande serviços de montagens baseada na relação transparente de parceria, e a melhor relação custo benefício do mercado.</p>
      			<br><br>
					Oferecemos as seguintes especializações em serviços.<br><br>
        <ul style="margin-left: 16px;">
            <li>Montagens de estruturas metálicas em aréa industrial;</li>
            <li>Montagens de telhas para coberturas e fechamentos laterais;</li>
            <li>Montagens de tubulações em aço e pead;</li>
            <li>Manutenção Industrial;</li>
        </ul>
        	<br><br>
		Nossa equipe de colaboradores é formada por profissionais experientes, treinados e comprometidos com a qualidade técnica, segurança operacional, produtividade e satisfação dos nossos clientes.
		<br><br>
		A Empresa MonteJato foi criada a partir da necessidade de se atender as industrias no ramo de montagens e manutenção em geral.
		<br>
   
    <br>
    	  <h3> Jateamento Abrasivo</h3>
     
    <br><br>
    
</div>

{% endblock %}	

{% block footer %}
{% endblock %}